@model PROG6216_CMCS_POE_.Models.ClaimViewModel

@{
    ViewData["Title"] = "Submit Claims";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong> @errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}

<form action="SubmitClaim" method="post" enctype="multipart/form-data" id="claimForm">
    <div class="mb-3">
        <label class="form-label"><strong>Lecturer ID</strong></label>
        <input type="number" class="form-control" asp-for="LecturerID" />
        <span asp-validation-for="LecturerID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Claim Submission Date</strong></label>
        <input type="date" class="form-control" asp-for="SubmissionDate" />
        <span asp-validation-for="SubmissionDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Hours Worked</strong></label>
        <input type="number" class="form-control" asp-for="HoursWorked" id="HoursWorked" oninput="calculateTotalClaim()" />
        <span asp-validation-for="HoursWorked" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">
            <strong>Hourly Rate</strong></label>
        <input type="number" class="form-control" asp-for="HourlyRate" id="HourlyRate" oninput="calculateTotalClaim()" />
        <span asp-validation-for="HourlyRate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Total Claim Amount</strong></label>
        <div class="input-group">
            <span class="input-group-text">R</span>
            <input type="number" class="form-control" id="TotalClaimAmountDisplay" readonly />
            <input type="hidden" asp-for="TotalClaimAmount" id="TotalClaimAmount" />
            <span asp-validation-for="TotalClaimAmount" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label"><strong>Additional Notes</strong></label>
        <input type="text" class="form-control" asp-for="AddNotes" />
        <span asp-validation-for="AddNotes" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Upload Supporting Documents</strong></label>
        <input type="file" accept=".docx,.pdf" class="form-control" asp-for="Document" id="Document" multiple onchange="validateFiles()" />
        <span asp-validation-for="Document" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary"><strong>Submit</strong></button>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}

